.appbar {
  position: sticky;
  top:0;
  width: 100%;
  height: var(--appbar-height);
  background: #fff;
  box-shadow: 0px 4px 5px 0px var(--primary-shadow);
  padding: 0 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  z-index: 10;
}
